/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .tgqb-d-flex {
     display: flex;
     column-gap: 20px;
 }

 .tgqb-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:  #fff;
    color: #000;
    padding: 0 15px;
 }